
/* Change the header sizes */
.content h1 { font-size: 1.4rem; line-height: 1.25; }
.content h2 { font-size: 1.2rem; line-height: 1.3; }
.content h3 { font-size: 1.05rem; line-height: 1.35; }
.content h4 { font-size: 1.0rem; line-height: 1.4; }

.content .headerlink { font-size: 0.7em; }

/* Make all headings use your brand green */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #458A77;
}